@use '../custom' as *;

/* Cards equipo - Cards Animaciones*/
.card {
	width: 31rem;
	min-height: 57rem;
	overflow: hidden;

	img {
		height: 31rem;
	}

	p {
		margin: 1rem 0;
	}

	.cargo {
		font-variant: small-caps;
	}

	.nombre {
		font-weight: $font-weight-bold;
	}
}

.card-content {
	min-height: 41rem;
}

#testimonios {
	.card {
		.image {
			width: 31rem;
			height: 31rem;
			overflow: hidden;
		}
	}

	.image {
		img {
			width: 100%;
		}
	}
}

.citation {
	font-style: italic;
}

/* Cards Oferta */
.cards-ofertas {
	@include media-breakpoint-up(md) {
		column-gap: $font-size-base;
	}

	@include media-breakpoint-up(xl) {
		width: 140rem;
	}
}

.card-oferta {
	border: 2px solid $dark;

	ul {
		li {
			&::before {
				content: "❤ ";
			}
		}
	}

	@include media-breakpoint-up(md) {
		min-width: 34.4rem;
		width: 49%;
		max-width: 48.2rem;
		padding: 1rem;
	}
}