@use '../custom' as *;
@use '../utils/mixins';

.slogan {
	font-weight: $font-weight-bolder;
	word-spacing: .5rem;
}

.contactanos {
	min-height: 50rem;
	@include mixins.bgImage('https://cyberdietoterapia.com/images/background01.jpg', $white-35);
	@include media-breakpoint-up(md) {
			@include mixins.bgImage('https://cyberdietoterapia.com/images/background01.jpg', $black-35);
	}
}

