// Reescribir variables de bootstrap
// Colores
$black-10: rgba(0, 0, 0, 0.10);
$black-35: rgba(0, 0, 0, 0.35);
$black-55: rgba(0, 0, 0, 0.55);
$black-70: rgba(0, 0, 0, 0.70);
$black: #000000;
$grey-a: #aaaaaa;
$grey-3: #333333;
$white-35: rgba(255, 255, 255, 0.35);
$white: #ffffff;
$aliceblue: aliceblue;
$azul-marino: rgb(12, 58, 104);
$azul: #179cf0;
$cielo: rgb(175, 201, 226);
$rojo: #ff0000;
$verde: rgb(56, 207, 56);

// Asignar paleta de colores a Bootstrap
$dark: $black;
$light: $white;
$primary: $aliceblue;
$secondary: $azul-marino;
$info: $cielo;
$danger: $rojo;
$warning: $azul;
$success: $verde;

$body-bg: $primary;
$body-color: $dark;

//Tipografía
$body-font: 'Lato', sans-serif;
$headings-font: 'Roboto Slab', serif;

$font-family-sans-serif: $body-font;

$font-size: 62.5%;

$font-size-root: $font-size;
$font-size-base: 2rem;

// Importar Bootstrap
@forward '../../node_modules/bootstrap/scss/bootstrap.scss';